body {
  background-color: #1c1c1c;
  padding: 10vh 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

#logo_sookmutsa {
  width: 145px;
}

nav {
  position: relative;
}

#mypage {
  width: 35px;
  margin-right: 10px;
}

#logout {
  width: 35px;
}

.status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-box {
  width: 550px;
  height: 550px;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.status-box h2 {
  color: #fff;
  font-family: "YiSunShin Dotum B";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status-box label {
  color: #fff;
  font-family: "YiSunShin Dotum M";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status-box input {
  padding: 20px 15px;
  color: #ccd2e0;
  font-family: "YiSunShin Dotum M";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #97afe3;
  border-radius: 8px;
  background-color: #1c1c1c;
}

.notice {
  font-size: 14px;
  color: #ffffff;
  font-family: "YiSunShin Dotum L";
  margin-top: -10px;
}

.notice .highlight {
  color: #97afe3;
}

.status-box button {
  margin-top: 20px;
  padding: 14px;
  background-color: #97afe3;
  font-family: "YiSunShin Dotum B";
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
