/* 전역 설정 */
* {
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  padding: 10vh 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  font-family: "YiSunShin Dotum M", sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_sookmutsa {
  width: 145px;
}

nav {
  position: relative;
}

#mypage {
  width: 35px;
  margin-right: 10px;
}

#logout {
  width: 35px;
}

.study-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.study-list-box {
  width: 550px;
  height: 550px;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 40px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.study-list-box h2 {
  font-size: 28px;
  color: #fff;
  font-family: "YiSunShin Dotum B";
  margin-bottom: 58px;
}

.study-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.study-list li {
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  color: #fff;
  font-family: "YiSunShin Dotum M";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.study-list-box button {
  margin-top: 20px;
  padding: 14px;
  background-color: #97afe3;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: "YiSunShin Dotum B";
  cursor: pointer;
}
